.red-box {
  background-color: red;
  padding: 8px;
  margin: 8px;
  border: 2px solid black;
  display: inline-block;

}
.red-box-container {
  text-align: center;
}


.center {
  text-align: center;
}
