body {
  font-family: 'Lato', sans-serif;
  padding-left: 60px;
  padding-right: 60px;
}

.name {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
}

.about-text {
  font-size: 27px;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.contact-text {
  margin-top: 10px;
}

.case-study-container {
  background-color: #F7F7F7;
  padding: 32px 64px 32px 64px;
  /* padding: 0 auto; */
  margin: 32px 0;
  display: inline-flex;
  /* height: 200px; */
  position: relative;
}

.case-study-body-container {
  width: 50%;
  margin: auto 0;
}

.case-study-image {
  width: 50%;
  margin-right: 30px;
  display: inline-flex;
  /* height: 200px; */
  position: relative;
}

.case-study-image img {
  width: 100%;
}

.case-study-title {
  text-align: left;
  font-size: 64px;
  margin-bottom: 24px;
}

.case-study-text {
  text-align: left;
  margin-bottom: 30px;
  font-size: 24px;
}

.case-study-button-text {
  text-align: center;
  background-color: lightgrey;
  padding: 10px;
  margin: 5px;
  width: 120px;
}

.case-study-button {
  text-align: center;
  color: black;
  text-decoration: none;
}

.back-button {
  position: fixed;
  top: 25px;
  cursor: pointer;
}

.back-button a {
  color: black;
  text-decoration: none;
}

.back-button div {
  font-size: 20px;
  background-color: aliceblue;
  padding: 11px;
  border-radius: 7px;
}
    
.back-arrow {
  font-size: 27px;
}

.back-text {
  position: relative;
  top: -3px;
}

.portfolio-post {
  width: 65%;
  margin: 0 auto 64px auto;
}

.portfolio-image {
  text-align: center;
  margin-top: 32px;
}

.portfolio-image img {
  width: 100%;
}

.portfolio-image-row {
  display: flex;
  margin-top: 16px;
}

.portfolio-image-column {
  flex: 33.33%;
  padding: 5px;
}

.portfolio-image-column img {
  width: 100%;
}

.portfolio-title {
  margin-top: 32px;
  font-size: 40px;
  text-align: center;
}

.portfolio-heading {
  margin-top: 32px;
  font-size: 24px;
}

.portfolio-body {
  margin-top: 24px;
  font-size: 18px;
}

.portfolio-caption {
  text-align: center;
  font-size: 14px;
  opacity: 0.54;
  margin-top: 4px;
}

.footer {
  text-align: left;
}
