body {
  font-family: 'Lato', sans-serif;
}

.home-body {
  /*width: 1000px;*/
  margin: 0 auto;
}

.name {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: bold;
}

.about-text {
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  color: black;
  width: 80%;
}

.contact-text {
  margin-top: 10px;
  color: black;
}

.contact-text a {
  color: #337ab7;
  text-decoration: none;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 1% 0 1%;
}

.project-container {
  /*flex: 48%;*/
  max-width: 48%;
  margin-bottom: 30px;
}

.project-container:hover {
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);*/
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project {
  padding: 10px;
}

.project img {
  max-width: 100%;
  /*max-width: 500px;*/
  display: block;
}

.project-title {
  font-weight: bold;
  font-size: 36px;
  margin-top: 12px;
}

.project-subtitle {
  font-size: 24px;
}

.project-container a {
  color: black;
  text-decoration: none;
}

.copyright {
  color: gray;
  text-align: center;
  margin-top: 50px;
}

a {
  color: default;
  text-decoration: none;
}

.back-button {
  position: fixed;
  top: 25px;
  cursor: pointer;
}

.back-button a {
  color: white;
  text-decoration: none;
}

.back-button div {
  font-size: 20px;
  background-color: black;
  padding: 11px;
  border-radius: 7px;
}
    
.back-arrow {
  font-size: 27px;
}

.back-text {
  position: relative;
  top: -3px;
}

.portfolio-post {
  /*width: 80%;*/
  width: 1000px;
  margin: 0 auto 64px auto;
}

.portfolio-image {
  text-align: center;
  /*margin-top: 32px;*/
}

.portfolio-image img {
  width: 100%;
  /*width: 1000px;*/
}

.portfolio-image-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.portfolio-image-column {
  flex: 33%;
  max-width: 33%;
  /*padding: 5px;*/
}

.portfolio-image-column img {
  width: 100%;
}

.portfolio-image-column2 {
  flex: 49%;
  max-width: 49%;
  /*padding: 5px;*/
}

.portfolio-image-column2 img {
  width: 100%;
}

.portfolio-image-row-caption {
  text-align: center;
  color: rgba(117, 117, 117, 1);
  margin-top: 10px;
  margin-bottom: 30px;
}
.portfolio-title {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 40px;
  text-align: center;
}

.portfolio-heading {
  margin-top: 32px;
  margin-bottom: 24px;
  font-size: 24px;
}

.portfolio-body {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 18px;
}

.portfolio-caption {
  text-align: center;
  font-size: 14px;
  opacity: 0.54;
  margin-top: 4px;
}

/* Mobile Support */

@media (max-width: 900px) {
  .project-container {
    flex: 100%;
    max-width: 100%;
  }
  .about-text {
    /*width: 100%;*/
  }

  .portfolio-image-column {
    max-width: 100%;
    flex: 100%;
  }

  .portfolio-post {
    width: 100%;
  }

  .back-button {
    visibility: hidden;
  }
}
